h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "oswald";
}

p,
li {
  font-family: sans-serif;
}

header {
  background: #fb8d62;
}

.logo img {
  width: 140px;
}

nav {
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
}

.logo {
  float: left;
}

#navigation {
  float: right;
  margin-top: 50px;
}

#navigation a {
  font-family: "oswald";
  color: white;
  text-decoration: none;
  padding: 20px;
  font-size: 24px;
}

#navigation a:hover {
  color: black;
}

.wrap {
  max-width: 800px;
  padding: 20px;
  margin: 0 auto;
}

hr.dotted {
  border-top: 3px dotted #bbb;
}

#section-one {
  text-align: center;
}

#section-one nav a {
  font-family: "oswald";
  text-decoration: none;
  color: grey;
  padding: 20px;
  font-size: 24px;
}

#section-one nav a:hover {
  color: #fb8d62;
}

#section-one h1 {
  font-size: 50px;
}

#section-two {
  background: url("../images/background-one.jpg") no-repeat;
  padding: 50px;
  max-width: 100%;
}

#section-two .wrap {
  background: rgba(255, 255, 255, 0.5);
  border-radius: 1%;
  color: rgb(95, 94, 94);
  padding: 20px 40px;
  width: 720px;
}

#section-two .wrap a {
  color: #fb8d62;
  text-decoration: none;
}

#section-two .wrap a:hover {
  color: white;
  text-decoration: none;
}

#section-three {
  padding: 30px;
}

#section-three .wrap {
  overflow: auto;
}

#section-three .wrap #img {
  width: 48%;
  float: left;
  padding-right: 4%;
}

#section-three .wrap #img img {
  width: 100%;
  border-radius: 50%;
}

#section-three .wrap #text {
  width: 48%;
  float: left;
}

#section-three h2 {
  margin-top: 0;
}

#fun-facts {
  line-height: 1.5;
}

footer {
  background: #fb8d62;
  text-align: center;
  padding: 20px;
  color: white;
}

.logo.footer {
  float: none;
}

.wrap h1 {
  text-align: center;
}

#section-two-about .wrap {
  overflow: auto;
}

#section-two-about {
  background: #e4e5e7;
}

#section-two-about #image {
  width: 48%;
  float: left;
  padding-right: 4%;
}

#section-two-about #text {
  width: 48%;
  float: left;
  margin-top: 50px;
}

#section-two-about #image img {
  width: 80%;
  border-radius: 2%;
}

#section-two-about #link-about a {
  text-decoration: none;
  font-family: "oswald";
  color: grey;
  padding: 20px;
  font-size: 18px;
}

#section-two-about #link-about a:hover {
  color: #fb8d62;
}

#about-image-cartoon img {
  width: 60%;
}

div#video {
  text-align: center;
}

p.Copyright-section {
  font-size: 12px;
}
